.thumbnail {
    margin-bottom: 0;

    &.used {
        h4 {
            font-weight: bold;
            color: #2aafdc;
        }
    }
    &.free {
        background-color: #fff;

        h1 {
            border: 1px solid #cdcdcd;
            background-color: #fbfbfb;
            color: #cdcdcd;
        }

        .caption {
            padding-top: 13px;
        }
    }

    .caption {
        text-align: center;
        color: #868686;

        p {
            font-weight: bold;
        }
    }
}

.pane-body.simple {
    padding-top: 0;
    padding-bottom: 0;
}

.panel.about {
    img {
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }

    p {
        margin: 0;

        &:first-child {
            margin-top: 12px;
        }
    }
}

.panel.money {
    text-align: center;

    h1 {
        font-size: 40px;
        font-family: "montserratbold";
        margin-top: 10px;
    }

    a, h1 {
        color: #fff;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
