main {
    #content {
        width: 100%;
        background: #ffffff;
        float: left;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        position: relative;

        nav {
            background-color: #34b0da;
            width: 100%;
            height: 40px;
        }
    }
}
