<section class="page-top basic">
    <div class="page-top-info container init">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">{{vm.title}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{vm.profile.firstname}} {{vm.profile.lastname}}</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- start: page -->

    <div class="row">
        <div class="col-md-4 col-lg-3">
            <section class="panel">
                <div class="panel-body">
                    <div class="thumb-info mb-md">
                        <img class="rounded img-responsive" gravatar-src="vm.profile.email" gravatar-size="300">
                    </div>

                    <div class="divider">
                        <i class="fa fa-info"></i>
                    </div>

                    <ul class="list icons list-unstyled pull-left">
                        <li class="text-center"><i class="fa fa-envelope"></i> <b>{{vm.profile.email}}</b></li>
                        <li class="text-center"><i class="fa fa-history"></i> <b>{{vm.profile.lastIPAddress}}</b></li>
                    </ul>
                </div>
            </section>

        </div>
        <div class="col-md-8 col-lg-9">


            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a href="#" data-toggle="tab" data-target="#overview">Vos Comptes</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tab" data-target="#edit">Edition</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">
                        <div class="row featured-boxes">
                            <div class="col-md-3 col-sm-6" ng-repeat="gameacc in vm.profile.gameAccounts">
                                <div class="featured-box featured-box-tertiary">
                                    <div class="box-content">
                                        <a href="/account/game/{{gameacc.id}}">
                                            <i class="icon-featured fa fa-male"></i>
                                            <h4>{{gameacc.login}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6" ng-repeat="t in vm.freeAccountsCount track by $index">
                                <div class="featured-box featured-box-tertiary">
                                    <div class="box-content">
                                        <a href="/account/game/new">
                                            <i class="icon-featured fa fa-plus"></i>
                                            <h4>Libre</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="edit" class="tab-pane">
                        <div class="alert alert-success" ng-show="vm.messages.success">{{vm.messages.success}}</div>
                        <div class="alert alert-warning" ng-show="vm.messages.warning">{{vm.messages.warning}}</div>
                        <div class="alert alert-danger" ng-show="vm.messages.danger">{{vm.messages.danger}}</div>

                        <form name="editForm" class="form-horizontal" ng-submit="vm.submitForm(editForm.$valid)" novalidate>
                            <h4 class="mb-xlg">Informations Personnelles</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="firstName">Prénom</label>
                                    <div class="col-md-8"
                                         ng-class="editForm.firstName.$touched && editForm.firstName.$invalid ? 'has-error' : (editForm.firstName.$valid ? 'has-success': '')">
                                        <input id="firstName" name="firstName" type="text" class="form-control" placeholder="Prénom"
                                               ng-model="vm.formData.firstname"
                                               ng-minlength="2"
                                               ng-maxlength="20"
                                               required>

                                        <label id="firstName-error" class="error" for="firstName"
                                               ng-messages="editForm.firstName.$error" ng-if="editForm.firstName.$touched">
                                            <span ng-message="minlength">Le prénom est trop court.</span>
                                            <span ng-message="maxlength">Le prénom est trop long.</span>
                                            <span ng-message="required">Le prénom est requis.</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="lastName">Nom</label>
                                    <div class="col-md-8"
                                         ng-class="editForm.lastName.$touched && editForm.lastName.$invalid ? 'has-error' : (editForm.lastName.$valid ? 'has-success': '')">
                                        <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Nom"
                                               ng-model="vm.formData.lastname"
                                               ng-minlength="2"
                                               ng-maxlength="20"
                                               required>

                                        <label id="lastName-error" class="error" for="lastName"
                                               ng-messages="editForm.lastName.$error" ng-if="editForm.lastName.$touched">
                                            <span ng-message="minlength">Le nom est trop court.</span>
                                            <span ng-message="maxlength">Le nom est trop long.</span>
                                            <span ng-message="required">Le nom est requis.</span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Modification du mot de passe</h4>
                            <fieldset class="mb-xl">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="password">Nouveau mot de passe</label>
                                    <div class="col-md-8"
                                         ng-class="editForm.password.$touched && editForm.password.$invalid ? 'has-error' : (editForm.password.$valid ? 'has-success': '')">
                                        <input id="password" name="password" type="password" class="form-control" placeholder="Mot de passe"
                                               ng-model="vm.formData.password"
                                               ng-minlength="6"
                                               ng-maxlength="20"
                                               ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})$/">


                                        <label id="password-error" class="error" for="password"
                                               ng-messages="editForm.password.$error" ng-if="editForm.password.$touched">
                                            <span ng-message="minlength">Le mot de passe est trop court.</span>
                                            <span ng-message="maxlength">Le mot de passe est trop long.</span>
                                            <span ng-message="pattern">Le mot de passe doit contenir au moins une majuscule et un chiffre.</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="passwordConfirmation">Confirmation du mot de passe</label>
                                    <div class="col-md-8"
                                         ng-class="editForm.passwordConfirmation.$touched && editForm.passwordConfirmation.$invalid ? 'has-error' : (editForm.passwordConfirmation.$valid ? 'has-success': '')">
                                        <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control" placeholder="Mot de passe"
                                               ng-model="vm.formData.passwordConfirmation"
                                               compare-to="vm.formData.password">

                                        <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                               ng-messages="editForm.passwordConfirmation.$error" ng-if="editForm.passwordConfirmation.$touched">
                                            <span ng-message="compareTo">Le mot de passe ne correspond pas</span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Editer</button>
                                        <button type="reset" class="btn btn-default">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</div>
