@import "bootstrap";

.nav-profile-photo {
    border: 2px solid #d3e0e9;
    border-radius: 50%;
    padding: 2px;
    height: 50px;
    width: 50px;
}

body {
    background-color: #f1f1f1;
}

.navbar {
    background-color: #fff;
}

.panel {
    border-radius: 0px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &.panel-default {
        .panel-heading {
            background-color: #fff;
            color: #2aafdc;
        }
    }

    &.panel-primary, &.panel-primary .panel-heading {
        background-color: #2aafdc;
    }

    .panel-heading {
        text-transform: uppercase;
        border: none;
    }
}
