.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.3;
    pointer-events: none;
}

.color-blue {
    color: #08C;
}

.color-grey {
    color: #CCC;
}

a.disabled {
    pointer-events: none;
}

button.transparent {
    background-color: Transparent;
    border: none;
}

.legal_graphic > img {
    width: 15px;
    height: 15px;
    vertical-align: baseline;
}