/*
Name: 			ie.css
Written by: 	Okler Themes - (http://www.okler.net)
Version: 		2.1.0
*/
/* Header */
html.ie header {
	background: #fff;
	filter: none;
}

/* Navigation */
html.ie9 header nav ul.nav-main ul.dropdown-menu {
	filter: none !important;
}
