.form-group {
    &:last-child {
        margin-bottom: 0;
    }
}

.input-group {
    .input-group-addon, .form-control {
        border-radius: 0px;
    }

    .input-group-addon {
        padding: 20px;
    }

    .input-lg {
        height: 60px;
    }

    .form-control {
        background-color: #eee;
        border-left: none;
    }
}
