.panel-menu {
    padding: 0;

    ul.nav {
        padding: 5px 0;

        li a {
            font-weight: bold;
            text-transform: uppercase;
            color: #848484 !important;
            padding: 15px 30px;

            &:hover {
                color: #2aafdc !important;
                background-color: #fafafa;
            }

            i {
                margin-right: 5px;
            }
        }
    }

}
