.navbar {
    background-color: #fff;
    margin-bottom: 0;

    .nav-profile-photo {
        border: 2px solid #d3e0e9;
        border-radius: 50%;
        padding: 2px;
        height: 50px;
        width: 50px;
    }

    .hamburger button {
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        i {
            color: #2aafdc;
        }
    }
}
