.thumbnail {
    border: 1px solid #d9d9d9;
    border-radius: 0;
    background-color: #fbfbfb;

    &:hover {
        background-color: #f7f7f7 !important;
    }

    h1 {
        text-align: center;
        border-radius: 50%;
        background-color: #2aafdc;
        color: #fff;
        width: 120px;
        height: 120px;
        font-size: 50px;
        line-height: 115px;
        margin: 10px auto;
    }
}
