<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/" class="logo push-bottom">
                <img alt="ARKALYS Logo" src="/assets/img/logo-footer.png" height="24" width="150">
            </a>
            <p>
                Arkalys est le seul serveur 2.0 à vous offrir une expérience de jeu aussi complète, une diversité de stuff énorme avec tous les derniers équipements jusqu'à Xelorium mais également une diversité de gameplay avec toutes les classes de la version 2.10!
                Tout cela s'ajoute à une communauté conviviale et présente. Pour finir une longue durée de vie vous est promise avec la quête du dofus légendaire, les prestiges, le kolizéum et les donjons !
            </p>

            <h4>Support</h4>
            <p>
                Une question sans réponse ? En savoir plus sur nos services ? Prenez soin de consulter auparavant la FAQ : les réponses que vous cherchez y figurent peut-être déjà !
            </p>
            <a href="#"><i class="fa fa-life-ring"></i> Support Client</a>
        </div>
        <div class="col-md-4">
            <h4>Derniers Tweets</h4>
            <a class="twitter-timeline" href="https://twitter.com/ArkalysFR" data-widget-id="648495464397033472">Tweets de @ArkalysFR</a>
            <script>
                ! function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </div>
        <div class="col-md-4">
            <h4>Facebook</h4>
            <div class="fb-page" data-href="https://www.facebook.com/Arkalys-Serveur-20-146996812129127" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"></div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>© 2015 Arkalys. Tous droits réservés.</p>
            </div>
            <div class="col-md-6">
                <ul class="social-icons">
                    <li><a href="https://twitter.com/ArkalysFR" target="_blank" rel="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/pages/Arkalys-Serveur-20/146996812129127" target="_blank" rel="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/ArkalysChanel" target="_blank" rel="tooltip" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
