<section class="page-top basic">
    <div class="page-top-info container init">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">{{vm.title}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{vm.title}}</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- start: page -->

    <div class="row featured-boxes">
        <div class="col-md-8">

            <form name="shopForm" ng-submit="vm.submitForm()" novalidate>
                <div id="checkoutPanel" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Moyen de Paiement
                                </a>
                            </h4>
                        </div>
                        <div id="paymentMethodStep" class="accordion-body collapse in" aria-expanded="true">
                            <div class="panel-body text-center">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="transparent" ng-click="vm.selectPaymentMethod('audiotel')" ng-class="{'color-blue': vm.paymentMethod == 'audiotel'}">
                                            <i class="fa fa-phone fa-5x"></i>
                                            <h5>Audiotel</h5>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="transparent" ng-click="vm.selectPaymentMethod('sms')" ng-class="{'color-blue': vm.paymentMethod == 'sms'}">
                                            <i class="fa fa-paper-plane fa-5x"></i>
                                            <h5>SMS</h5>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="transparent" ng-click="vm.selectPaymentMethod('paypal')" ng-class="{'color-blue': vm.paymentMethod == 'paypal'}">
                                            <i class="fa fa-paypal fa-5x"></i>
                                            <h5>Paypal</h5>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="transparent" ng-click="vm.selectPaymentMethod('neosurf')" ng-class="{'color-blue': vm.paymentMethod == 'neosurf'}">
                                            <i class="fa fa-at fa-5x"></i>
                                            <h5>Neosurf</h5>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="transparent" ng-click="vm.selectPaymentMethod('creditcard')" ng-class="{'color-blue': vm.paymentMethod == 'creditcard'}">
                                            <i class="fa fa-credit-card fa-5x"></i>
                                            <h5>Carte Bancaire</h5>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="transparent disabled">
                                            <i class="fa fa-cart-plus fa-5x"></i>
                                            <h5>Paysafecard (Soon)</h5>
                                        </button>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-primary pull-right push-bottom"
                                           href="" data-target="#palierStep" data-parent="#checkoutPanel" data-toggle="collapse">
                                            Suivant
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Paliers
                                </a>
                            </h4>
                        </div>
                        <div id="palierStep" class="accordion-body collapse" aria-expanded="false">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Pays</label>
                                        <select ng-model="vm.country" ng-change="vm.selectCountry(vm.country)" ng-options="country.name for country in vm.countries" class="form-control"></select>

                                        <label>Palier</label>
                                        <select ng-model="vm.rate" ng-options="rate.title for rate in vm.filteredRates" class="form-control"></select>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary pull-left push-bottom" href="" data-target="#paymentMethodStep" data-parent="#checkoutPanel" data-toggle="collapse">
                                            Retour
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-primary pull-right push-bottom" href="" data-target="#gameAccountStep" data-parent="#checkoutPanel" data-toggle="collapse">
                                            Suivant
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" href="" data-target="#gameAccountStep" data-parent="#checkoutPanel" data-toggle="collapse" aria-expanded="false">
                                    Compte de Jeu
                                </a>
                            </h4>
                        </div>
                        <div id="gameAccountStep" class="accordion-body collapse" aria-expanded="false">
                            <div class="panel-body">
                                <div class="row featured-boxes">
                                    <div class="col-md-3 col-sm-6" ng-repeat="gameacc in vm.profile.gameAccounts">
                                        <div class="featured-box featured-box-tertiary">
                                            <div class="box-content">
                                                <a href="/gameaccount/{{gameacc.id}}">
                                                    <i class="icon-featured fa fa-male"></i>
                                                    <h4>{{gameacc.login}}</h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary pull-left push-bottom" href="" data-target="#palierStep" data-parent="#checkoutPanel" data-toggle="collapse">
                                            Retour
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-primary pull-right push-bottom" href="" data-target="#paymentStep" data-parent="#checkoutPanel" data-toggle="collapse">
                                            Suivant
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                    Résumé & Paiement
                                </a>
                            </h4>
                        </div>
                        <div id="paymentStep" class="accordion-body collapse shop" aria-expanded="false">
                            <div class="panel-body">
                                <h4>Résumé</h4>

                                <table class="cart-totals" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th><strong>Moyen de Paiement</strong></th>
                                            <td>{{vm.paymentMethodTitle}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Pays</strong></th>
                                            <td>{{vm.country.name}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Jetons</strong></th>
                                            <td>{{vm.rate.user_earns}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Compte de Jeu</strong></th>
                                            <td>Orochi</td>
                                        </tr>
                                        <tr class="total">
                                            <th><strong>Total</strong></th>
                                            <td><strong><span class="amount">{{vm.rate.user_price}} {{vm.rate.user_currency}}</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr class="tall" />

                                <h4>Instructions</h4>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <p class="text-center" ng-bind-html="vm.rate.instructions"></p>

                                            <input type="text" class="form-control" placeholder="Code d'accès..." />
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary pull-left push-bottom" href="" data-target="#gameAccountStep" data-parent="#checkoutPanel" data-toggle="collapse">
                                            Retour
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary pull-right push-bottom">
                                            Finaliser
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 shop">
            <h4>Résumé</h4>

            <table class="cart-totals" cellspacing="0">
                <tbody>
                    <tr>
                        <th><strong>Moyen de Paiement</strong></th>
                        <td>{{vm.paymentMethodTitle}}</td>
                    </tr>
                    <tr>
                        <th><strong>Pays</strong></th>
                        <td>{{vm.country.name}}</td>
                    </tr>
                    <tr>
                        <th><strong>Jetons</strong></th>
                        <td>{{vm.rate.user_earns}}</td>
                    </tr>
                    <tr>
                        <th><strong>Compte de Jeu</strong></th>
                        <td>Orochi</td>
                    </tr>
                    <tr class="total">
                        <th><strong>Total</strong></th>
                        <td><strong><span class="amount">{{vm.rate.user_price}} {{vm.rate.user_currency}}</span></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- end: page -->
</div>