<section class="page-top basic">
    <div class="page-top-info container init">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/account">Compte</a></li>
                    <li class="active">{{title}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="pricing-table">
                <div class="plan most-popular" ng-class="{'disabled': !gameAccount}">
                    <h3>
                        Informations
                        <span><i class="fa fa-info"></i></span>
                    </h3>
                    <select id="accounts" ng-model="selectedAccount" ng-options="account.login for account in gameAccounts" ng-change="changeAccount()" class="form-control">
                        <option value="" selected="selected">Choisir un compte</option>
                    </select>
                    <ul>
                        <li><b>Nom de compte:</b> {{gameAccount.login}}</li>
                        <li><b>Pseudonyme:</b> {{gameAccount.nickname}}</li>
                        <li><a href="#" data-original-title="Requis pour supprimer son personnage" rel="tooltip"><i class="fa fa-question-circle"></i></a> <b>Code Secret:</b> {{gameAccount.secretAnswer}}</li>
                        <li><b>Jetons:</b> {{gameAccount.tokens + gameAccount.newTokens}}</li>
                        <li><b>Date de création:</b> {{gameAccount.creationDate | date:'dd/MM/yyyy'}}</li>
                        <li><b>Dernière connexion:</b> {{gameAccount.lastConnection | date:'dd/MM/yyyy'}}</li>
                        <li><b>Dernière IP:</b> {{gameAccount.lastConnectedIp}}</li>
                        <li><b>Dernier vote:</b> {{gameAccount.lastVote | date:'dd/MM/yyyy'}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="row featured-boxes">
                        <div class="featured-box featured-box-primary default info-content" style="margin:0px;">
                            <div class="box-content" ng-show="gameAccount">
                                <h4>Personnages</h4>
                                <div class="row">
                                    <div class="col-md-3" ng-repeat="character in gameAccount.characters">
                                        <div class="team-item thumbnail">
                                            <a href="#" class="thumb-info team">
                                                <span class="thumb-info-image" style="background:url(/assets/img/bg-character.jpg) center">
                                                    <img ng-src="{{character.lookLink | trusted}}" class="img-responsive img-center" />
                                                </span>
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">{{character.name}}</span>
                                                    <span class="thumb-info-type"><b>Feca</b> - Niveau 200</span>
                                                </span>
                                                <span class="thumb-info-action">
                                                    <span class="thumb-info-action-left">
                                                        <em>Voir</em>
                                                    </span>
                                                    <span class="thumb-info-action-right">
                                                        <em>
                                                            <i class="fa fa-plus"></i> Détails
                                                        </em>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <h2 class="text-center" ng-show="gameAccount.characters.length == 0">AUCUN PERSONNAGES</h2>
                                </div>

                                <div class="divider colored">
                                    <i class="fa fa-star"></i>
                                </div>

                                <div class="alert alert-success" ng-show="messages.success">{{messages.success}}</div>
                                <div class="alert alert-warning" ng-show="messages.warning">{{messages.warning}}</div>
                                <div class="alert alert-danger" ng-show="messages.danger">{{messages.danger}}</div>

                                <form name="gameAcctUpdateForm" class="form-horizontal" ng-submit="submitUpdateForm(gameAcctUpdateForm.$valid)" novalidate>
                                    <h4>Changer le mot de passe</h4>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6" ng-class="gameAcctUpdateForm.password.$touched && gameAcctUpdateForm.password.$invalid ? 'has-error' : (gameAcctUpdateForm.password.$valid ? 'has-success': '')">
                                                <label>Mot de passe</label>
                                                <input id="password" name="password" type="password" class="form-control input-lg" placeholder="Mot de passe" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})$/" required>

                                                <label id="password-error" class="error" for="password" ng-messages="gameAcctUpdateForm.password.$error" ng-if="gameAcctUpdateForm.password.$touched">
                                                    <span ng-message="minlength">Le mot de passe est trop court.</span>
                                                    <span ng-message="maxlength">Le mot de passe est trop long.</span>
                                                    <span ng-message="required">Le mot de passe est requis.</span>
                                                    <span ng-message="pattern">Le mot de passe doit contenir au moins une majuscule et un chiffre.</span>
                                                </label>
                                            </div>
                                            <div class="col-md-6" ng-class="gameAcctUpdateForm.passwordConfirmation.$touched && gameAcctUpdateForm.passwordConfirmation.$invalid ? 'has-error' : (gameAcctUpdateForm.passwordConfirmation.$valid ? 'has-success': '')">
                                                <label>Confirmation du Mot de passe</label>
                                                <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control input-lg" placeholder="Mot de passe" ng-model="formData.passwordConfirmation" required compare-to="formData.password">

                                                <label id="passwordConfirmation-error" class="error" for="passwordConfirmation" ng-messages="gameAcctUpdateForm.passwordConfirmation.$error" ng-if="gameAcctUpdateForm.passwordConfirmation.$touched">
                                                    <span ng-message="required">La confirmation du mot de passe est requis.</span>
                                                    <span ng-message="compareTo">Le mot de passe ne correspond pas</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary pull-right">
                                                Modifier
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="box-content" ng-hide="gameAccount">
                                <div class="alert alert-success" ng-show="messages.success">{{messages.success}}</div>
                                <div class="alert alert-warning" ng-show="messages.warning">{{messages.warning}}</div>
                                <div class="alert alert-danger" ng-show="messages.danger">{{messages.danger}}</div>

                                <form name="gameAcctCreateForm" class="form-horizontal" ng-submit="submitCreateForm(gameAcctCreateForm.$valid)" novalidate>
                                    <h4>Créer un compte</h4>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-6" ng-class="gameAcctCreateForm.login.$touched && gameAcctCreateForm.login.$invalid ? 'has-error' : (gameAcctCreateForm.login.$valid ? 'has-success': '')">
                                                    <label>Nom de compte</label>
                                                    <input id="login" name="login" type="text" class="form-control input-lg" placeholder="Nom de compte" ng-model="formData.login" ng-minlength="6" ng-maxlength="19" ng-pattern="/^[a-zA-Z0-9-]{6,19}$/" required>

                                                    <label id="login-error" class="error" for="login" ng-messages="gameAcctCreateForm.login.$error" ng-if="gameAcctCreateForm.login.$touched">
                                                        <span ng-message="minlength">Le Nom de compte est trop court.</span>
                                                        <span ng-message="maxlength">Le Nom de compte est trop long.</span>
                                                        <span ng-message="required">Le Nom de compte est requis.</span>
                                                        <span ng-message="pattern">Le Nom de compte ne peux pas contenir de caractères spéciaux excepté le (-).</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6" ng-class="gameAcctCreateForm.nickname.$touched && gameAcctCreateForm.nickname.$invalid ? 'has-error' : (gameAcctCreateForm.nickname.$valid ? 'has-success': '')">
                                                    <label>Pseudonyme</label>
                                                    <input id="nickname" name="nickname" type="text" class="form-control input-lg" placeholder="Pseudonyme" ng-model="formData.nickname" ng-minlength="6" ng-maxlength="19" ng-pattern="/^[a-zA-Z0-9-]{6,19}$/" inequal-to="formData.login" required>

                                                    <label id="nickname-error" class="error" for="nickname" ng-messages="gameAcctCreateForm.nickname.$error" ng-if="gameAcctCreateForm.nickname.$touched">
                                                        <span ng-message="minlength">Le Pseudonyme est trop court.</span>
                                                        <span ng-message="maxlength">Le Pseudonyme est trop long.</span>
                                                        <span ng-message="required">Le Pseudonyme est requis.</span>
                                                        <span ng-message="inequalTo">Le Pseudonyme doit être différent du Nom de compte.</span>
                                                        <span ng-message="pattern">Le Pseudonyme ne peux pas contenir de caractères spéciaux excepté le (-).</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6" ng-class="gameAcctCreateForm.password.$touched && gameAcctCreateForm.password.$invalid ? 'has-error' : (gameAcctCreateForm.password.$valid ? 'has-success': '')">
                                                    <label>Mot de passe</label>
                                                    <input id="password" name="password" type="password" class="form-control input-lg" placeholder="Mot de passe" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})$/" required>

                                                    <label id="password-error" class="error" for="password" ng-messages="gameAcctUpdateForm.password.$error" ng-if="gameAcctUpdateForm.password.$touched">
                                                        <span ng-message="minlength">Le mot de passe est trop court.</span>
                                                        <span ng-message="maxlength">Le mot de passe est trop long.</span>
                                                        <span ng-message="required">Le mot de passe est requis.</span>
                                                        <span ng-message="pattern">Le mot de passe doit contenir au moins une majuscule et un chiffre.</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6" ng-class="gameAcctUpdateForm.passwordConfirmation.$touched && gameAcctUpdateForm.passwordConfirmation.$invalid ? 'has-error' : (gameAcctUpdateForm.passwordConfirmation.$valid ? 'has-success': '')">
                                                    <label>Confirmation du Mot de passe</label>
                                                    <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control input-lg" placeholder="Mot de passe" ng-model="formData.passwordConfirmation" required compare-to="formData.password">

                                                    <label id="passwordConfirmation-error" class="error" for="passwordConfirmation" ng-messages="gameAcctUpdateForm.passwordConfirmation.$error" ng-if="gameAcctUpdateForm.passwordConfirmation.$touched">
                                                        <span ng-message="required">La confirmation du mot de passe est requis.</span>
                                                        <span ng-message="compareTo">Le mot de passe ne correspond pas</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary pull-right">
                                                Créer le compte
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
