<section class="page-top basic">
    <div class="page-top-info container init">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">{{title}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Connexion</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="row featured-boxes">
                <div class="col-sm-6">

                    <div class="featured-box featured-box-primary default info-content">
                        <div class="box-content">
                            <div class="alert alert-success" ng-show="messages.success">{{messages.success}}</div>
                            <div class="alert alert-warning" ng-show="messages.warning">{{messages.warning}}</div>
                            <div class="alert alert-danger" ng-show="messages.danger">{{messages.danger}}</div>

                            <h4>Connexion à votre compte</h4>

                            <form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12"
                                             ng-class="loginForm.email.$touched && loginForm.email.$invalid ? 'has-error' : (loginForm.email.$valid ? 'has-success': '')">
                                            <label>Adresse E-mail</label>
                                            <input id="email" name="email" type="email" class="form-control input-lg" placeholder="ex: michel@supermail.com"
                                                   ng-model="formData.email"
                                                   ng-minlength="5"
                                                   ng-maxlength="40"
                                                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                                   required>

                                            <label id="email-error" class="error" for="email"
                                                   ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                                                <span ng-message="minlength">L'adresse e-mail est trop courte.</span>
                                                <span ng-message="maxlength">L'adresse e-mail est trop longue.</span>
                                                <span ng-message="required">L'adresse e-mail est requise.</span>
                                                <span ng-message="pattern">L'adresse e-mail est invalide.</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12"
                                             ng-class="loginForm.password.$touched && loginForm.password.$invalid ? 'has-error' : (loginForm.password.$valid ? 'has-success': '')">
                                            <label>Mot de passe</label>
                                            <input id="password" name="password" type="password" class="form-control input-lg" placeholder="Mot de passe"
                                                   ng-model="formData.password"
                                                   ng-minlength="6"
                                                   ng-maxlength="20"
                                                   required>

                                            <a class="pull-right" href="#">(Mot de passe oublié ?)</a>

                                            <label id="password-error" class="error" for="password"
                                                   ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                                <span ng-message="minlength">Le mot de passe est trop court.</span>
                                                <span ng-message="maxlength">Le mot de passe est trop long.</span>
                                                <span ng-message="required">Le mot de passe est requis.</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary pull-right push-bottom">
                                            Connexion
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content">
                            <h3>Pas de compte ?</h3>

                            <p class="drop-caps">
                                Pas de problèmes ! Pour rejoindre ARKALYS et devenir une légende, tu dois passer l'épreuve de l'inscription.
                                <div class="clearfix"></div>
                                Prépare ta plume et ton courage puis clique sur le bouton ci-dessous.
                            </p>

                            <div class="divider colored">
                                <i class="fa fa-pencil"></i>
                            </div>

                            <a class="btn btn-primary btn-lg" type="button" href="/auth/register">
                                Créer un compte
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
