<section class="page-top basic">
    <div class="page-top-info container init">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li class="active">{{title}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Inscription</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="row featured-boxes">
                <div class="col-sm-6">
                    <div class="featured-box featured-box-primary default info-content">
                        <div class="box-content">
                            <div class="alert alert-success" ng-show="messages.success">{{messages.success}}</div>
                            <div class="alert alert-warning" ng-show="messages.warning">{{messages.warning}}</div>
                            <div class="alert alert-danger" ng-show="messages.danger">{{messages.danger}}</div>

                            <h4>Création d'un nouveau compte</h4>

                            <form name="registerForm" ng-submit="submitForm(registerForm.$valid)" novalidate>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6"
                                             ng-class="registerForm.firstName.$touched && registerForm.firstName.$invalid ? 'has-error' : (registerForm.firstName.$valid ? 'has-success': '')">
                                            <label>Prénom</label>
                                            <input id="firstName" name="firstName" type="text" class="form-control input-lg" placeholder="Prénom"
                                                   ng-model="formData.firstName"
                                                   ng-minlength="2"
                                                   ng-maxlength="20"
                                                   required>

                                            <label id="firstName-error" class="error" for="firstName"
                                                   ng-messages="registerForm.firstName.$error" ng-if="registerForm.firstName.$touched">
                                                <span ng-message="minlength">Le prénom est trop court.</span>
                                                <span ng-message="maxlength">Le prénom est trop long.</span>
                                                <span ng-message="required">Le prénom est requis.</span>
                                            </label>
                                        </div>
                                        <div class="col-md-6"
                                             ng-class="registerForm.lastName.$touched && registerForm.lastName.$invalid ? 'has-error' : (registerForm.lastName.$valid ? 'has-success': '')">
                                            <label>Nom</label>
                                            <input id="lastName" name="lastName" type="text" class="form-control input-lg" placeholder="Nom"
                                                   ng-model="formData.lastName"
                                                   ng-minlength="2"
                                                   ng-maxlength="20"
                                                   required>

                                            <label id="lastName-error" class="error" for="lastName"
                                                   ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$touched">
                                                <span ng-message="minlength">Le nom est trop court.</span>
                                                <span ng-message="maxlength">Le nom est trop long.</span>
                                                <span ng-message="required">Le nom est requis.</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12"
                                             ng-class="registerForm.email.$touched && registerForm.email.$invalid ? 'has-error' : (registerForm.email.$valid ? 'has-success': '')">
                                            <label>Adresse E-mail</label>
                                            <input id="email" name="email" type="email" class="form-control input-lg" placeholder="ex: michel@supermail.com"
                                                   ng-model="formData.email"
                                                   ng-minlength="5"
                                                   ng-maxlength="40"
                                                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                                   required>

                                            <label id="email-error" class="error" for="email"
                                                   ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                                                <span ng-message="minlength">L'adresse e-mail est trop courte.</span>
                                                <span ng-message="maxlength">L'adresse e-mail est trop longue.</span>
                                                <span ng-message="required">L'adresse e-mail est requise.</span>
                                                <span ng-message="pattern">L'adresse e-mail est invalide.</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6"
                                             ng-class="registerForm.password.$touched && registerForm.password.$invalid ? 'has-error' : (registerForm.password.$valid ? 'has-success': '')">
                                            <label>Mot de passe</label>
                                            <input id="password" name="password" type="password" class="form-control input-lg" placeholder="Mot de passe"
                                                   ng-model="formData.password"
                                                   ng-minlength="6"
                                                   ng-maxlength="20"
                                                   ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})$/"
                                                   required>

                                            <label id="password-error" class="error" for="password"
                                                   ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                                                <span ng-message="minlength">Le mot de passe est trop court.</span>
                                                <span ng-message="maxlength">Le mot de passe est trop long.</span>
                                                <span ng-message="required">Le mot de passe est requis.</span>
                                                <span ng-message="pattern">Le mot de passe doit contenir au moins une majuscule et un chiffre.</span>
                                            </label>
                                        </div>
                                        <div class="col-md-6"
                                             ng-class="registerForm.passwordConfirmation.$touched && registerForm.passwordConfirmation.$invalid ? 'has-error' : (registerForm.passwordConfirmation.$valid ? 'has-success': '')">
                                            <label>Confirmation du Mot de passe</label>
                                            <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control input-lg" placeholder="Mot de passe"
                                                   ng-model="formData.passwordConfirmation"
                                                   required
                                                   compare-to="formData.password">

                                            <label id="passwordConfirmation-error" class="error" for="passwordConfirmation"
                                                   ng-messages="registerForm.passwordConfirmation.$error" ng-if="registerForm.passwordConfirmation.$touched">
                                                <span ng-message="required">La confirmation du mot de passe est requis.</span>
                                                <span ng-message="compareTo">Le mot de passe ne correspond pas</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Vérification de sécurité</label>
                                        <div id="captcha" name="captcha" vc-recaptcha key="'6Le70P0SAAAAAN60DjPobFpi4ODY7sG4NUmLDFC2'"></div>

                                        <label id="captcha-error" class="error" for="captcha" ng-show="messages.captcha">
                                            <span>{{messages.captcha}}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary pull-right push-bottom">
                                            Terminer l'Inscription
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="featured-box featured-box-primary default info-content">
                        <div class="box-content">
                            <div class="tabs tabs-vertical tabs-right tabs-primary">
                                <div class="tab-content">
                                    <div id="step-register" class="tab-pane active">
                                        <h4>Créez votre compte</h4>

                                        Pour figurer en bonne place dans le grand registre des héros,
                                        c'est très simple. Prenez votre plus belle plume et remplissez les cases ci-contre.

                                        <p class="text-danger">
                                            Indiquez des informations réelles, en cas de vol/perte de votre compte elles vous serviront à restaurer l'accès à votre compte
                                        </p>
                                    </div>
                                    <div id="step-download" class="tab-pane">
                                        <h4>Téléchargez ARKALYS</h4>

                                        Tofus, wabbits, bouftous, héros, donjons, quêtes et dragons :
                                        téléchargez l'intégrale du Monde des Douze !

                                        <div class="divider"></div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="http://files.arkalys.com/Uplauncher_Setup.exe">
                                                    <i class="fa fa-windows fa-4x"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="http://files.arkalys.com/ArkalysUplauncher.dmg">
                                                    <i class="fa fa-apple fa-4x"></i>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <i class="fa fa-linux fa-4x"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-letsgo" class="tab-pane">
                                        <h4>En Route !</h4>

                                        Votre quête peut maintenant
                                        commencer. Faites preuve de
                                        bravoure, d'intelligence
                                        et d'héroïsme.

                                        Préparez-vous à vivre une
                                        aventure hors du commun :
                                        les Dofus n'attendent que vous !
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" data-target="#step-register" href="" aria-expanded="True">
                                            <span class="label label-info">1</span> Inscription
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-target="#step-download" href="" aria-expanded="False">
                                            <span class="label label-info">2</span> Téléchargez
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" data-target="#step-letsgo" href="" aria-expanded="False">
                                            <span class="label label-info">3</span> Jouer !
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
